<div class="Electronic">
  <div class="container">
    <h1>Sepetim</h1>
    <div class="row col-md-12">
      <div class="col-md-8">
        <div class="card-columns text-white bg-dark">
          <img class="card-img-bottom col my-4 " style="width: 20rem;height: auto; border-radius: 20px;"
               src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-pro-finish-unselect-gallery-2-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1663790290203"
               alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Iphone 14 pro</h5>
            <p class="card-text"></p>
            <a href="/api/cart" class="btn btn-primary btn-sl">features</a>
            <h5 class="card-footer"><p class="card-title">64,999</p></h5>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-body text-dark">
            <h5 class="card-title">Seçilen Ürünler</h5>
<!--            <p class="card-text">{{item.totalPrice}}</p>-->
            <a href="/api/cart/" class="btn btn-primary mx-5">Alışverişi tamamla</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
