<div class="Electronic">
  <div class="container">
    <h1>Sepetim</h1>
    <div class="row col-md-12" *ngFor="let item of cartProducts">
      <div class="col-md-8">
        <div class="card-columns text-white bg-dark">
          <img class="card-img-bottom col my-4 " style="width: 20rem;height: auto; border-radius: 20px;"
               src="{{item.img}}"
               alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.productName}}</h5>
            <p class="card-text"></p>
            <a href="/api/cart" class="btn btn-primary btn-sl">features</a>
            <h5 class="card-footer"><p class="card-title">{{item.price}}</p></h5>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-body text-dark">
            <h5 class="card-title">Seçilen Ürünler</h5>
<!--            <p class="card-text">{{item.totalPrice}}</p>-->
            <a href="/api/cart/" class="btn btn-primary mx-5">Alışverişi tamamla</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
