<div class="m-3">
  <div class="wrap">
    <div class="search">
      <input
        type="text"
        [(ngModel)]="term"
        class="searchTerm"
        placeholder="What are you looking for?"
      />
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">productName</th>
        <th scope="col">category</th>
        <th scope="col">description</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let product of products | filter: term">
        <td>
          {{ product.productName }}
        </td>
        <td>{{ product.category}}</td>
        <td>{{ product.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
